RewriteEngine On
# use for authentication
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

Header set Access-Control-Allow-Origin *

#################################### ALL FOR DEVELOPER #################################

RewriteRule ^upload-photo$ core/upload-photo.php [L]

### Question ###
RewriteRule ^question$ controllers/developer/question/question.php [L]
RewriteRule ^question/([0-9]+)$ controllers/developer/question/question.php?questionid=$1 [L]
RewriteRule ^question/active/([0-9]+)$ controllers/developer/question/active.php?questionid=$1 [L]
RewriteRule ^question/search$ controllers/developer/question/search.php [L]
RewriteRule ^question/page/([0-9]+)$ controllers/developer/question/page.php?start=$1 [L]
