RewriteEngine On
# use for authentication
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

Header set Access-Control-Allow-Origin *

#################################### ALL FOR DEVELOPER #################################

RewriteRule ^upload-photo$ core/upload-photo.php [L]

### Recipe ###
RewriteRule ^recipe$ controllers/developer/recipe/recipe.php [L]
RewriteRule ^recipe/([0-9]+)$ controllers/developer/recipe/recipe.php?recipeid=$1 [L]
RewriteRule ^recipe/active/([0-9]+)$ controllers/developer/recipe/active.php?recipeid=$1 [L]
RewriteRule ^recipe/search$ controllers/developer/recipe/search.php [L]
RewriteRule ^recipe/page/([0-9]+)$ controllers/developer/recipe/page.php?start=$1 [L]
